<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Sushant Kaushal.</p>
        <p>This site will let you find out the  weather forecast of any location of the world and also give the coordinates of that location!!</p>
        <img class="portrait" src="/image/1.jpg" alt="SUshant">
    </div>
    
    {{>footer}}
</body>

</html>